<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616861411729-b6hjihlhj0tk7fgu41hkc0hfieke1578.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616861411729-b6hjihlhj0tk7fgu41hkc0hfieke1578</string>
	<key>API_KEY</key>
	<string>AIzaSyBxJXQkHlY9ZAExoT_PaQYszxI_XttDFwI</string>
	<key>GCM_SENDER_ID</key>
	<string>616861411729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dgrrApp</string>
	<key>PROJECT_ID</key>
	<string>dgrr-dc7ed</string>
	<key>STORAGE_BUCKET</key>
	<string>dgrr-dc7ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616861411729:ios:fbc67bcb2276e53e1b5230</string>
</dict>
</plist>